.ant-btn-link:hover {
  text-decoration: underline;
}

.ant-table-thead > tr > th {
  background-color: #eeefef !important;
  color: rgb(15, 24, 36) !important;
  font-weight: 550;
}

.ant-table-row {
  cursor: pointer;
}

.selected-row {
  background-color: #d1dfec !important;
}

.ant-table .ant-table-tbody > tr.ant-table-row:hover > td {
  background-color: rgb(243, 244, 245) !important;
}

.ant-card {
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 1px,
    rgba(0, 0, 0, 0.15) 0px 1px 2px 0px;
}

.ant-select {
  cursor: pointer;
}

.ant-picker {
  width: 100%;
}
